@font-face {
	font-family: 'SuisseIntl-Regular';
	src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2'), url('/fonts/SuisseIntl-Regular.ttf') format('truetype'), url('/fonts/SuisseIntl-Regular.otf') format('opentype');
	font-display: swap;
}